<h2><%= @merchant.name %>: Bulk Discounts</h2>

<section>
  <% @bulk_discounts.each do |bulk_discount| %>
    <section id="bulk_discount-<%= bulk_discount.id %>">
      Threshold: <%= bulk_discount.threshold %>
      Discount: <%= bulk_discount.discount.to_f* 100%>%<br>
      Id: <%= link_to "#{bulk_discount.id}", "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}" %><br>
      <%= link_to "Delete", "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}", method: :delete%>
    </section>
  <% end %>
</section><br>

<section>
  <%= link_to "Create New Bulk Discount", "/merchants/#{@merchant.id}/bulk_discounts/new" %>
</section><br>

<section>
Upcoming Holidays:<br><br>
  <% require "./app/services/nager_service" %>
  <% service = NagerService.new %>
  <% service.next_three_holidays.each do |holiday| %>
    <%= holiday %><br>
  <% end %>
</section>

