<h1>New Bulk Discount</h1>

<%= form_with model: [:merchant, BulkDiscount.new], local: true do |f| %>
  <%= f.label :threshold %>
  <%= f.text_field :threshold %>

  <%= f.label :discount %>
  <%= f.text_field :discount %>

  <%= f.submit %>
<% end %>