<h2>Invoice ID: <%= @invoice.id %></h2></br>
<div id="test">Status: <%= @invoice.status %> </div><br>

<seciton>
  <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |f| %>
    <%= f.label :status %>
    <%= f.select :status, ['in progress', 'cancelled', 'completed']%>

    <%= f.submit "Update Invoice Status" %>
  <% end %>
</seciton><br>

<section>
  Created at: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %> <br>
  Customer: <%= @customer.first_name %>
  <%= @customer.last_name %> <br>
</section><br>

<section>
  <% @items.each do |item| %>
    Item: <%= item.name %><br>
    Status: <%= item.status %><br>
    Quantity: <%= item.quantity %><br>
    Unit Pice: <%= item.unit_price %><br><br>
  <% end %>
</section><br>

<seciton>
  Total Revenue: $<%= @total_revenue[@invoice.id] %></br>
</seciton>
